<p>Username: <%=h @user.username %></p>

<h2>Friends</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%=h friendship.friend.username %>
      - <%= link_to "remove", friendship, :method => :delete %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Find New Friends", users_path %></p>
