<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= javascript_include_tag :all %>
  <%= stylesheet_link_tag 'layout' %>
</head>
<body>
  <div id="content">
    <p><%= render :partial => "users/login" %></p>
    <%= yield %>
  </div>
</body>
</html>
